*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    font-family: 'Kalam', cursive;
    background-image: url(./img/asd.png);
    background-size: cover;
}
.top{
    display: flex;
    justify-content: space-around;
}
.Js, .Gh{
    display: flex;
    font-size: 20px;
    margin-top: 20px;
    
}
.Js div img{
    padding-right: 5px;
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
    transform: translateY(-140px);
    
    height: 50%;
    text-align: center;
    color: white;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
    height: 85vh;
    
}
.content h1{
     text-transform: uppercase;
     font-size: 40px;
}
.content p{
    font-size: 20px;
    word-wrap: normal;
    width: 70%;
}
.content .input{
    margin-top: 15px;

}

.content .input input{
    width: 120px;
    padding-left: 5px;
    height: 30px;
    
    border-radius: 10px;
    border: none;
    background: inherit;
    outline: 2px solid white;
    opacity: 0.8;
    color: white;
}
.content .input input::placeholder{
    color: white;
}
.footer{
    text-align: center;
    color: white;
}
@media (max-width:480px){
    .body {
        display: flex;
        flex-direction: column;
    }
    .top{
        flex-direction: column;
        align-items: center;
    }
    .content{
        margin-top: 100px;
    }
}
